name: Build and Upload Release Jar

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'

      - name: Build package
        run: mvn -DskipTests clean package

      - name: Upload JAR to Release
        uses: ncipollo/release-action@v1
        with:
          tag: latest
          name: Latest Release
          allowUpdates: true
          artifacts: "target/*.jar"
          token: ${{ secrets.GITHUB_TOKEN }}
